{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<body>

    <nav class="navbar navbar-shortner">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:void(0);">
                      URL SHORTNER
                    </a>
            </div>
        </div>
    </nav>

    <form action="/result" method="post">
        {% csrf_token %}
        <div class="container">
            <div class="jumbotron">
                <p>Simple shortner for your big links...! paste https:// urls </p>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="input-group">
                            <input type="url" name="incoming_url" class="form-control" placeholder="https://exmaple.com" sizee="80" pattern="https://.*" required>
                            <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Shorten !</button>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>